.message-model .ant-modal-content {
    background-color: #222127;
}

.message-model .ant-modal-header {
    background-color: #222127;
}

.message-model .ant-modal-title {
    color: #ffffff;
}

.message-model .ant-modal-body {
    background-color: #222127;
    color: #ffffff;
    padding-left: 20px;
}

.message-model .ant-modal-footer {
    background-color: #222127;
}

.message-model .ant-form-item-label > label {
    color: #ffffff;
}

.message-model .ant-form-item-control-input-content {
    color: #ffffff;
}