.menu-container {
    width: 100%;
    height: 50px;
    display: flex;
}

.menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.pic-btn:hover .anticon{
    color: #ffffff !important;
}

.pic-btn:disabled:hover .anticon,
.pic-btn[disabled]:hover .anticon{
    color:#848482 !important;
}


.pic-btn:hover .anticon svg path {
    fill: #ffffff !important;
}

.pic-btn:disabled:hover .anticon svg path,
.pic-btn[disabled]:hover .anticon svg path {
    fill: #848482 !important;
}

.menu-left {
    float: right;
}

.menu-right {
    float: right;
    margin-right: 20px;
}

.align-menu {
    font-size: 18px;
    margin-top: -4px;
}


.pic-model .ant-modal-content {
    background-color: #222127;
}

.pic-model .ant-modal-header {
    background-color: #222127;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #848482;
    margin-bottom: 15px;
}


.pic-model .ant-modal-body {
    padding: 0 20px;
}

.pic-model .ant-modal-title {
    color: #ffffff;
}

.pic-model .ant-modal-footer {
    background-color: #222127;
    border-top: 1px solid #848482;
    padding: 15px 0 0 0 ;
}

.pic-model .ant-form-item-label > label {
    color: #ffffff;
}

.pic-model .ant-form-item-control-input-content {
    color: #ffffff;
}

.pic-model .ant-radio-wrapper {
    color: #ffffff;
}