// src/components/Layout/Sidebar/index.scss
.app-sider {
    &.ant-layout-sider {
        background: #001529;
        
        .ant-menu {
            height: calc(100vh - 64px - 48px); // 减去头部高度和logo区域
            overflow-y: auto;
            overflow-x: hidden;
            
            &::-webkit-scrollbar {
                width: 6px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.2);
                border-radius: 3px;
            }
        }

        .ant-layout-sider-trigger {
            position: sticky;
        }
    }
}