.list-container {
    margin: 12px;
}

.list-header {
    color: #ffffff;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.list-content {
    width: 100%;
    .ant-row {
        color: #BFBFBD
    }
    
}