.pic-modal .ant-modal-content .ant-modal-header {
    background: #222127;
    border-bottom: 1px solid #0D0D0E;
}

.pic-modal .ant-modal-content .ant-modal-header .ant-modal-title{
    color: #848482;
}

.pic-modal .ant-modal-content .ant-modal-body {
    padding: 24px 0 5px 30px;
    background: #222127;
}

.pic-modal .ant-modal-content .ant-modal-footer {
    border-top: 1px solid #0D0D0E;
    background: #222127;
}
