@use '@/styles/use/layout';

$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
$cursor: #fff;

.login-container {
  @include layout.flex-center;
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow-y: auto;
  color: $light_gray;

  .ant-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
    width: 85%;
  }

  .login-form {
    @include layout.flex-center;
    flex-direction: column;
    position: relative;
    width: 520px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .title-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        width: 80px;
        margin-bottom: 20px;
      }

      .title {
        font-size: 26px;
        color: $light_gray;
        margin: 0 auto 40px auto;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}