.layout-container {
    height: 90vh !important;
    width: calc(100%) !important;
}

.header-container {
    height: 5% !important;
    width: 100%;
    padding: 0 !important;
    background-color: #1e1e24 !important;
    /*border: 1px solid white;*/
}

.header-div-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.title-div-container {
    height: 100%;
    left: 50%;
    position: relative;
}

.pic-title {
    color: #ffffff;
    height: 100%;
    align-content: center;
}

.exit-btn-container {
    margin-left: auto;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    margin-right: 1%;
}