.add-model .ant-modal-content {
    background-color: #222127;
}

.add-model .ant-modal-header {
    background-color: #222127;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #7A7A7A;
    margin-bottom: 20px;
}

.add-model .ant-modal-title {
    color: #ffffff;
}

.add-model .ant-modal-body {
    background-color: #222127;
    color: #ffffff;
}

.add-model .ant-modal-footer {
    background-color: #222127;
    border-top: 1px solid #7A7A7A;
    padding: 15px 0 0 0 ;
}

.add-model .ant-form-item-label > label {
    color: #ffffff;
}

.add-model .ant-form-item-control-input-content {
    color: #ffffff;
}